.container {
  text-align: center;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 6px;
  transition: all .4s ease-in-out
}

.container:hover {
  box-shadow: none;
  border: 1px solid #ccc;
  background: rgba(214, 219, 220, 0.06);
}

.rating {
  font-size: 40px;
  color: var(--color-navy);
  font-weight: 600;
  margin: 0;
}

.stars {
  display: inline-flex;
  margin-top: 10px;
}

.star {
  font-size: 32px;
  color: var(--color-orange);
}

.emptyStar {
  font-size: 32px;
  color: #5a6d7dbf;
}

.reviewCount {
  font-size: 16px;
  color: var(--color-grey);
  margin-top: 10px;
}

@media (max-width: 460px) {
.container{
  flex-direction: column;
  gap: 0;
}
.stars {
  margin-top: 0;
}
}
