.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f9fafb;
  border-bottom: 1px solid #eaeaea;
}

.tabs a {
  margin-right: 30px;
  font-size: 18px;
  text-decoration: none;
  color: var(--color-grey);
  padding-bottom: 5px;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.active {
  border-bottom: 3px solid var(--color-orange);
  padding-bottom: 16px;
}

.tabs a.active{
  color: var(--color-orange);
}

.tabs a:hover {
  color: var(--color-navy);
}

.addButton {
  display: flex;
  align-items: center;
}

.addHome {
  background-color: var(--color-orange);
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.addHome:hover {
  background-color: var(--color-navy);
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.15);
}
