.form {
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin: 20px auto;
  padding: 20px;
}

.form h1 {
  font-size: 30px;
  color: var(--color-blue);
  font-weight: 600;
  letter-spacing: 1px;
  margin: 10px 0 5px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.container {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  width: 60vw;
  transition: all .3s ease-in-out;
}

.container > div {
  flex: 1;
}

.container div div {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 0;
}

.container input,
.container textarea {
  border: 2px solid var(--background-start-rgb);
  border-radius: 4px;
  padding: 7px 12px;
  margin: 0;
}

.container label {
  font-size: 16px;
  padding: 10px 0 5px;
  color: var(--color-navy);
}

.userDetails {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.userDetails div:has(div) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 0;
}

.userDetails div div {
  width: 49%;
}

.showPass {
  width: fit-content;
  margin: 0 auto -10px;
  padding: 0;
}

.showPass input{
    padding: 0;
    margin: 0;
}

.showPass input {
  display: none;
}

.showPass label {
  cursor: pointer;
  color: var(--color-orange);
  padding: 0;
  margin: 0;
}

.companyDetails{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.container textarea {
   height: 150px;
  }

.form button{
    color: #fff;
    background-color: #f8911b;
    padding: 5px 15px;
    border-radius: 2px;
    margin: 10px 0;
    width: fit-content;
}

@media (max-width: 1465px) {
    .container {
        width: 70vw;
      }
}

@media (max-width: 1190px) {
    .container {
        width: 90vw;
      }
}

@media (max-width: 1000px) {
    .form {
        box-shadow: none;
        padding: 20px 30px;
      }
    .container {
        width: 95vw;
      }
}

@media (max-width: 800px) {
    .container{
        width: 80vw;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 500px) {
    .container{
        width: 90vw;
    }
}

