/* components/ReviewCard.module.css */
.card {
  border-radius: 15px;
  padding: 20px 30px;
  margin: 20px 0;
  background-color: rgba(214, 219, 220, 0.4);
  transition: all .3s ease-in-out;
}

.card:hover{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0 15px;
}

.profile{
    display: flex;
    gap: 5px;
}

.avatar {
  width: 50px;
  height: 50px;
  background-color: var(--background-start-rgb);
  border-radius: 50%;
  margin-right: 15px;
}

.userName {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: var(--color-blue);
}

.date {
  font-size: 14px;
  color: #888;
}

.rating {
  display: flex;
}

.activeStar,
.inactiveStar {
  font-size: 25px;
  color: var(--color-orange);
}

.inactiveStar {
  color: #5a6d7dbf;
}

.comment {
  font-size: 14px;
  color: var(--color-grey);
  letter-spacing: .5px;
}

.footer {
  margin-top: 10px;
  text-align: right;
}

.footer p {
  font-size: 14px;
  color: #888;
}
